<div class="aspect-square" [class.animate-shuffle]="isRolling()">
  
  @let colorClass = '!bg-(--die-comp-color)';
<!-- 
  @let colorClass = dieColor() !== '' 
    ? '!bg-(--die-comp-color)'
    : '!bg-neutral-300'; -->

  <p-card
    [ngClass]="colorClass"
    [styleClass]="`
      relative w-full h-full
      !text-black ${colorClass}
  
      [&>_.p-card-body]:w-full
      [&>_.p-card-body]:h-full
      [&>_.p-card-body]:items-center
      [&>_.p-card-body]:justify-center
      [&>_.p-card-body]:p-8
      
      [&>_.p-card-body]:[&>_.p-card-content]:flex
      [&>_.p-card-body]:[&>_.p-card-content]:w-full
    `"
    (click)="toggleLock()"
  >
  
    @if (isLocked()) {
      <div class="absolute inset-0 rounded-xl bg-gradient-to-bl from-black/70 to-transparent z-[5]"></div>
      <p-chip 
        icon="pi pi-lock"
        class="absolute -top-2 -right-2 z-10 shadow-md shadow-black/40" 
      />
    }
  
    <p-image
      class="flex w-full h-full justify-center items-center"
      [src]="currentFace()"
      [alt]="currentValueEnum().toUpperCase()"
    />
  </p-card>
</div>

