<div 
  class="
    host:bg-green-400
    w-full h-full
    md:px-10
  "
>

  <h1 class="mb-6 text-2xl font-bold text-center">
    Gaslands Skid Dice Roller
  </h1>

  <div
    class="
      grid grid-cols-[repeat(auto-fit,_minmax(100px,_1fr))] 
      justify-items-center gap-4
      md:grid-cols-[repeat(auto-fit,_minmax(150px,_1fr))] 
    "
  >
    @for (die of [].constructor(diceAmount); track $index) {
      <die class="w-full aspect-square max-w-[250px]"></die>
    }
  </div>

  <div class="w-full mt-4">
    
    <p-toolbar>
      <ng-template #start>
      
        Result:


      </ng-template>
      <ng-template #end>
        <div class="inline-flex gap-2">

          <p-button icon="pi pi-lock" (onClick)="forceLock()"></p-button>
          
          <p-buttongroup>
            <p-button icon="pi pi-minus" (onClick)="removeDie()"></p-button>
            <p-button icon="pi pi-plus" (onClick)="addDie()"></p-button>
          </p-buttongroup>

          <p-button icon="pi pi-clone" (onClick)="rollDice()" ></p-button>
        
        </div>
      </ng-template>
    </p-toolbar>
  </div>

</div>